@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* fonts */
  --font-inter: "Inter", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --color-primaryBlueColor: var(--primaryBlueColor);
  --color-greyColor: var(--greyColor);
  --color-grayBorderColor: var(--grayBorderColor);
  --color-blueButtonColor: var(--blueButtonColor);
  --color-greenColor: var(--greenColor);
  --color-whiteColor: var(--whiteColor);
  --color-secondaryGreenColor: var(--secondaryGreenColor);
  --color-darkGreenColor: var(--darkGreenColor);
  --color-goldColor: var(--goldColor);
  --color-redColor: var(--redColor);
  --color-lightGoldColor: var(--lightGoldColor);
  --color-bgColor: var(--bgColor);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040A1A;
    --foreground: #ededed;
    --primaryBlueColor: #161B2E;
    --greyColor: #f9f9f9;
    --grayBorderColor: #5E6376;
    --blueButtonColor: #0081DC;
    --greenColor: #2bd09c;
    --whiteColor: #f3f3f3;
    --secondaryGreenColor: #94c2b9;
    --darkGreenColor: #c1dcda;
    --goldColor: #f4b256;
    --redColor: #833824;
    --lightGoldColor: #f9d9a6;
    --bgColor: #040a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--grayBorderColor);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blueButtonColor);
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grayBorderColor) transparent;
}
